* text=auto !eol
/.project -text svneol=unset#text/plain
/.pydevproject -text
ahl/__init__.py -text
ahl/pybloqs/__init__.py -text
ahl/pybloqs/block/__init__.py -text
ahl/pybloqs/block/base.py -text
ahl/pybloqs/block/convenience.py -text
ahl/pybloqs/block/image.py -text
ahl/pybloqs/block/layout.py -text
ahl/pybloqs/block/ndframe.py -text
ahl/pybloqs/block/table.py -text svneol=unset#text/plain
ahl/pybloqs/block/text.py -text
ahl/pybloqs/block/wrap.py -text
ahl/pybloqs/email.py -text
ahl/pybloqs/html.py -text
ahl/pybloqs/htmlconv/__init__.py -text
ahl/pybloqs/htmlconv/toc.xsl -text
ahl/pybloqs/htmlconv/wkhtmltoimage -text
ahl/pybloqs/htmlconv/wkhtmltopdf -text
ahl/pybloqs/jinja/__init__.py -text svneol=unset#text/plain
ahl/pybloqs/jinja/table.html -text svneol=unset#text/plain
ahl/pybloqs/plot/__init__.py -text
ahl/pybloqs/plot/core.py -text
ahl/pybloqs/plot/extras.py -text
ahl/pybloqs/reveal/__init__.py -text
ahl/pybloqs/static/__init__.py -text
ahl/pybloqs/static/block-core.js -text
ahl/pybloqs/static/block-core.min.js -text
ahl/pybloqs/static/css/pybloqs_default/main.css -text
ahl/pybloqs/static/css/pybloqs_default/main.min.css -text
ahl/pybloqs/static/css/pybloqs_default/ndframe.css -text
ahl/pybloqs/static/css/pybloqs_default/ndframe.min.css -text
ahl/pybloqs/static/css/docutils.css -text
ahl/pybloqs/static/css/docutils.min.css -text
ahl/pybloqs/static/css/zenburn.css -text
ahl/pybloqs/static/css/zenburn.min.css -text
ahl/pybloqs/static/highcharts-3d.js -text
ahl/pybloqs/static/highcharts-3d.min.js -text
ahl/pybloqs/static/highcharts-pybloqs.js -text
ahl/pybloqs/static/highcharts-pybloqs.min.js -text
ahl/pybloqs/static/highcharts-exporting-csv.js -text
ahl/pybloqs/static/highcharts-exporting-csv.min.js -text
ahl/pybloqs/static/highcharts-exporting.js -text
ahl/pybloqs/static/highcharts-exporting.min.js -text
ahl/pybloqs/static/highcharts-funnel.js -text
ahl/pybloqs/static/highcharts-funnel.min.js -text
ahl/pybloqs/static/highcharts-heatmap.js -text
ahl/pybloqs/static/highcharts-heatmap.min.js -text
ahl/pybloqs/static/highcharts-more.js -text
ahl/pybloqs/static/highcharts-more.min.js -text
ahl/pybloqs/static/highstock.js -text
ahl/pybloqs/static/highstock.min.js -text
ahl/pybloqs/static/jquery.js -text
ahl/pybloqs/static/jquery.min.js -text
ahl/pybloqs/static/jsinflate.js -text
ahl/pybloqs/static/jsinflate.min.js -text
ahl/pybloqs/static/reveal/css/reveal.css -text
ahl/pybloqs/static/reveal/css/reveal.min.css -text
ahl/pybloqs/static/reveal/css/theme/README.md -text
ahl/pybloqs/static/reveal/css/theme/beige.css -text
ahl/pybloqs/static/reveal/css/theme/default.css -text
ahl/pybloqs/static/reveal/css/theme/moon.css -text
ahl/pybloqs/static/reveal/css/theme/night.css -text
ahl/pybloqs/static/reveal/css/theme/serif.css -text
ahl/pybloqs/static/reveal/css/theme/simple.css -text
ahl/pybloqs/static/reveal/css/theme/sky.css -text
ahl/pybloqs/static/reveal/css/theme/solarized.css -text
ahl/pybloqs/static/reveal/css/theme/source/beige.scss -text
ahl/pybloqs/static/reveal/css/theme/source/default.scss -text
ahl/pybloqs/static/reveal/css/theme/source/moon.scss -text
ahl/pybloqs/static/reveal/css/theme/source/night.scss -text
ahl/pybloqs/static/reveal/css/theme/source/serif.scss -text
ahl/pybloqs/static/reveal/css/theme/source/simple.scss -text
ahl/pybloqs/static/reveal/css/theme/source/sky.scss -text
ahl/pybloqs/static/reveal/css/theme/source/solarized.scss -text
ahl/pybloqs/static/reveal/css/theme/template/mixins.scss -text
ahl/pybloqs/static/reveal/css/theme/template/settings.scss -text
ahl/pybloqs/static/reveal/css/theme/template/theme.scss -text
ahl/pybloqs/static/reveal/js/reveal.js -text
ahl/pybloqs/static/reveal/js/reveal.min.js -text
ahl/pybloqs/static/reveal/lib/js/classList.js -text
ahl/pybloqs/static/reveal/lib/js/classList.min.js -text
ahl/pybloqs/static/reveal/lib/js/head.js -text
ahl/pybloqs/static/reveal/lib/js/head.min.js -text
ahl/pybloqs/static/reveal/lib/js/html5shiv.js -text
ahl/pybloqs/static/reveal/lib/js/html5shiv.min.js -text
ahl/pybloqs/testing/__init__.py -text
ahl/pybloqs/testing/regression.py -text
ahl/pybloqs/util.py -text
docs/_static/keepme -text
docs/autodoc/keepme -text
docs/conf.py -text
docs/examples/__init__.py -text
docs/examples/examples.ipynb -text
docs/examples/examples_corr.csv -text
docs/index.rst -text
docs/plotting.template -text
docs/plotting_generate.py -text
docs/plotting_source.xml -text
docs/showcase/img/arrow.png -text
docs/showcase/img/complex-tool.png -text
docs/showcase/img/latex-lol.png -text
docs/showcase/img/logo.png -text
docs/showcase/img/swiss-knife.png -text
docs/showcase/showcase.py -text
/setup.cfg -text
/setup.py -text
tests/__init__.py -text
tests/regression/__init__.py -text
tests/regression/block/__init__.py -text
tests/regression/block/output/test_base_hrule.html -text
tests/regression/block/output/test_base_save_image.png -text
tests/regression/block/output/test_base_save_image_dynamic_content.png -text
tests/regression/block/output/test_base_save_pdf.pdf -text
tests/regression/block/output/test_base_save_pdf_dynamic_content.pdf -text
tests/regression/block/output/test_base_save_pdf_page_size.pdf -text
tests/regression/block/output/test_base_save_pdf_toc.pdf -text
tests/regression/block/output/test_base_save_pdf_zoom.pdf -text
tests/regression/block/output/test_convenience_block.html -text
tests/regression/block/output/test_convenience_dframe.html -text
tests/regression/block/output/test_convenience_list.html -text
tests/regression/block/output/test_convenience_matplotlib.html -text
tests/regression/block/output/test_convenience_none.html -text
tests/regression/block/output/test_convenience_string.html -text
tests/regression/block/output/test_convenience_widepanel.html -text
tests/regression/block/output/test_image_img_file.html -text
tests/regression/block/output/test_image_img_file_explicit_dimensions.html -text
tests/regression/block/output/test_image_matplotlib.html -text
tests/regression/block/output/test_image_matplotlib_explicit_dimensions.html -text
tests/regression/block/output/test_image_matplotlib_no_bbox_tighten.html -text
tests/regression/block/output/test_image_matplotlib_with_title.html -text
tests/regression/block/output/test_layout_flow.html -text
tests/regression/block/output/test_layout_flow_inherit_styles.html -text
tests/regression/block/output/test_layout_flow_nested_combined_layouts.html -text
tests/regression/block/output/test_layout_flow_widepanel.html -text
tests/regression/block/output/test_layout_grid.html -text
tests/regression/block/output/test_layout_grid_inherit_styles.html -text
tests/regression/block/output/test_layout_grid_nested_combined_layouts.html -text
tests/regression/block/output/test_layout_grid_widepanel.html -text
tests/regression/block/output/test_layout_hstack.html -text
tests/regression/block/output/test_layout_hstack_inherit_styles.html -text
tests/regression/block/output/test_layout_hstack_nested_combined_layouts.html -text
tests/regression/block/output/test_layout_hstack_widepanel.html -text
tests/regression/block/output/test_layout_vstack.html -text
tests/regression/block/output/test_layout_vstack_inherit_styles.html -text
tests/regression/block/output/test_layout_vstack_nested_combined_layouts.html -text
tests/regression/block/output/test_layout_vstack_widepanel.html -text
tests/regression/block/output/test_ndframe_dframe.html -text
tests/regression/block/output/test_ndframe_ndframe_align_center.html -text
tests/regression/block/output/test_ndframe_ndframe_align_right.html -text
tests/regression/block/output/test_ndframe_ndframe_float_rounding.html -text
tests/regression/block/output/test_ndframe_ndframe_layout_fill.html -text
tests/regression/block/output/test_ndframe_ndframe_layout_fit.html -text
tests/regression/block/output/test_ndframe_ndframe_text_wrapping.html -text
tests/regression/block/output/test_plot_bar_chart.html -text
tests/regression/block/output/test_plot_bar_chart_composite.html -text
tests/regression/block/output/test_plot_bar_chart_stacked.html -text
tests/regression/block/output/test_plot_cumulative_difference.html -text
tests/regression/block/output/test_plot_dataframe.html -text
tests/regression/block/output/test_plot_multiple_axes.html -text
tests/regression/block/output/test_plot_scatter_plot.html -text
tests/regression/block/output/test_plot_separate_subplots.html -text
tests/regression/block/output/test_plot_series.html -text
tests/regression/block/output/test_plot_widepanel_plot.html -text
tests/regression/block/output/test_text_markdown.html -text
tests/regression/block/output/test_text_pre.html -text
tests/regression/block/output/test_text_raw.html -text
tests/regression/block/output/test_text_raw_html.html -text
tests/regression/block/output/test_text_raw_title.html -text
tests/regression/block/output/test_text_raw_with_styling.html -text
tests/regression/block/output/test_text_span.html -text
tests/regression/block/output/test_wrap_box.html -text
tests/regression/block/output/test_wrap_box_composite.html -text
tests/regression/block/output/test_wrap_box_image.html -text
tests/regression/block/output/test_wrap_iframe_content.html -text
tests/regression/block/output/test_wrap_iframe_link.html -text
tests/regression/block/output/test_wrap_paragraph.html -text
tests/regression/block/test_base.py -text
tests/regression/block/test_convenience.py -text
tests/regression/block/test_image.py -text
tests/regression/block/test_image_file.png -text
tests/regression/block/test_layout.py -text
tests/regression/block/test_ndframe.py -text
tests/regression/block/test_plot.py -text
tests/regression/block/test_plot_df1.csv -text
tests/regression/block/test_plot_df2.csv -text
tests/regression/block/test_plot_df3.csv -text
tests/regression/block/test_text.py -text
tests/regression/block/test_wrap.py -text
tests/regression/output/test_reveal_fragments.html -text
tests/regression/output/test_reveal_links.html -text
tests/regression/output/test_reveal_slides.html -text
tests/regression/output/test_reveal_stacks.html -text
tests/regression/output/test_reveal_strech.html -text
tests/regression/rebase_all.py -text
tests/regression/table/__init__.py -text svneol=unset#text/plain
tests/regression/table/test_table.py -text svneol=unset#text/plain
tests/regression/test_reveal.py -text
tests/unit/__init__.py -text
tests/unit/test_base_unit.py -text
tests/unit/test_image_unit.py -text svneol=unset#text/plain
tests/unit/test_import.py -text
tests/unit/test_plot_unit.py -text svneol=unset#text/plain
