.cache/
.eggs/
.project
.pydevproject
pybloqs.egg-info/
*.pyc
*.pyo
*__pycache__
/build
/dist
pybloqs/static/highcharts.js
pybloqs/static/highcharts-more.js
pybloqs/static/export-csv.js
pybloqs/static/exporting.js
pybloqs/static/funnel.js
pybloqs/static/heatmap.js
pybloqs/static/highmaps.js
pybloqs/static/highstock.js
pybloqs/static/highcharts-3d.js
.ipynb_checkpoints/
*~
.coverage
junit.xml
coverage.xml
docs/build/
docs/source/modules.rst
docs/source/pybloqs.block.rst
docs/source/pybloqs.htmlconv.rst
docs/source/pybloqs.plot.rst
docs/source/pybloqs.rst
docs/source/pybloqs.static.rst
docs/source/generated
.vscode
.idea
.pytest_cache
node_modules
*.swp
